.btn-group {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: inline-block;
    margin: 5px;
}

/* Estilos para el clic */
.btn-container i:active {
    transform: scale(0.9); /* Cambia el tamaño cuando haces clic en el ícono */
}

.detalle{
    color: #ffc107;
}

.actualizar-editar{
    color: #007bff;
}

.asignar{
    color: #28a745;
}

.aprobar{
    color: #28a745
}

.reclamar{
    color: #ffc107
}

.agregar{
    color:rgb(21, 185, 29);
}

.default{
    color:rgb(0, 0, 0);
}

.eliminar{
    color: #dc3545;
    border: none;
}

.circle_green {
    background: rgb(30, 197, 47);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle_grey {
    background: rgb(169, 169, 169);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.modal-full {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100%;
    border-radius: 0;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}
